---------------------------------
# Ignore Everything
---------------------------------
/*
/*/

---------------------------------
# Git meta files
---------------------------------
!.gitignore
!.gitattributes
!README.md

---------------------------------
# Whitelist these things
---------------------------------
!/ProjectSettings/
!/Assets/