---------------------------------
# Ignore Everything
---------------------------------
/*
/*/

---------------------------------
# Git meta files
---------------------------------
!.gitignore
!.gitattributes
!README.md

---------------------------------
# Whitelist these things
---------------------------------
!/ProjectSettings/
!/Assets/
!/Packages/
/Assets/Krista-GITIGNORE
/Assets/Krista-GITIGNORE.meta